version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    restart: always
    env_file:
      - docker.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 8080

  ai-engine:
    build:
      context: .
      dockerfile: backend.Dockerfile
    restart: always
    env_file:
      - docker.env
    depends_on:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: poetry run python ../ai-engine/app.py
    # ports:
    #   - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - docker.env
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend

# Postgres service removed to use host DB
