# Database (Host Connection)
POSTGRES_USER=aimaster
POSTGRES_PASSWORD=change_me_password
POSTGRES_DB=malangee
# Use host.docker.internal to connect to the host machine from container
POSTGRES_SERVER=host.docker.internal
POSTGRES_PORT=5432

# Backend Config
SECRET_KEY=change_me_secret_key_at_least_32_chars
USE_SQLITE=FALSE
DATABASE_URL=postgresql://aimaster:change_me_password@host.docker.internal:5432/malangee

# OpenAI
OPENAI_API_KEY=sk-proj-change-me-to-your-real-openai-api-key

# Frontend
NEXT_PUBLIC_API_URL=http://localhost/api/v1
